@import "app/styles/bootstrap-grid.min.css";
@import 'ngx-toastr/toastr';

.full-width {
  width: 100%;
}
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
